#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 10px 100px 10px;
  color: #fff;
  background-color: $dark-main;
  p {
    text-align: center;
  }
  .social {
    text-align: center;
  }
  span {
    color: $light-main;
  }
}

