#stats {
  background-color: $dark-main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  .single-stat {
    text-align: center;
    margin-bottom: 50px;
  
  .number p{
    font-size: 60px;
    color: #fff;
    padding: 0;
    margin: 0;
  }
} 
  p {
    font-size: 20px;
    color: $light-main;
    text-transform: uppercase;
    font-weight: 300;
  }
  .icon {
    padding: 15px;
  }
}

// @media all and (min-width: 768px) and (max-width: 959px) { 
//   #stats {
//     padding: 50px 60px 50px 60px;
//   }
//  }
// @media all and (min-width: 568px) and (max-width: 767px) { 
//   #stats {
//     padding: 50px 50px 50px 80px;
//   }
//  }
// @media all and (min-width: 959px) { 
//   #stats {
//     padding: 50px 160px 50px 160px;
//     justify-content: space-between;
//     flex-direction: row; 
//   }
//  }

//  @media all and (min-width: 559px) { 
//   #stats {
//     justify-content: space-between;
//     flex-direction: row; 
//   }
//  }


 @media all and (max-width: 1690px) {
     #stats {
    // padding: 50px 180px 50px 180px;
  }
 }
@media all and (min-width: 1180px) {
  #stats {
    padding: 50px 150px 50px 150px;

  }
}
@media all and (min-width: 1600px) {
  #stats {
    padding: 50px 250px 50px 250px;

  }
}
@media all and (min-width: 1800px) {
  #stats {
    padding: 50px 350px 50px 350px;

  }
}

@media all and (min-width: 550px) and (max-width: 980px) {
  #stats {
    padding: 50px 50px 50px 50px;
    justify-content: space-between;
    flex-direction: row;  
  .single-stat {
    .number p {
      font-size: 30px;
    }
    p {
      font-size: 90%;
    }
  }
  }
}

@media all and (min-width: 550px) {
  #stats {
    justify-content: space-between;
    flex-direction: row;  
  }
}